<div class="page-header">
  <%= link_to new_shortcut_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Shortcut
  <% end %>
  <h1>Listing shortcuts</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Note</th>
            <th>Original url</th>
            <th>Short url</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @shortcuts) do |shortcut| %>
            <td><%= shortcut.name %></td>
            <td><%= shortcut.note %></td>
            <td><%= shortcut.original_url %></td>
            <td><%= link_to shortcut.short_url, "/goto/#{shortcut.short_url}", target: '_blank' %></td>
            <td><%= link_to 'Show', shortcut %></td>
        <td><%= link_to 'Edit', edit_shortcut_path(shortcut) %></td>
        <td><%= link_to 'Destroy', shortcut, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
